/* Estilização geral: */
body {
  font-size: 25px;
}

/* Cabeçalho */
#desktopIndex {
  display: none;
}

#mainHeader h1 {
  width: fit-content;
  text-align: center;
  font-size: 0.95em;
  margin-top: 5%;
  margin-bottom: 0.5%;
}

#mainHeader h1 a {
  color: wheat;
  font-size: 1em;
  text-decoration: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#mainHeader h1 a:hover {
  color: wheat;
  font-size: 1em;
  text-decoration: none;
}

#mobileIndex {
  display: flex;
  width: 100%;
}

#mobileIndex ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
  margin-top: 2%;
  margin-bottom: 4%;
  padding-left: 0%;
}

#mobileIndex ul li {
  width: fit-content;
  text-align: center;
}

.notDropdown, .dropbtn {
  color: ghostwhite;
  font-size: 0.85em;
  font-weight: 900;
  text-decoration: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.notDropdown:hover, .dropbtn:hover {
  color: ghostwhite;
  font-size: 0.85em;
  font-weight: 900;
}

.dropdown-content {
  display: none;
  background-image: linear-gradient(rgb(54,56,70), rgb(71, 50, 71));
  border-radius: 10%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-size: 1em;
  position: absolute;
  min-width: 25%;
}

.dropdown-content a {
  color: #50fa7b;
  font-size: 0.85em;
  border-radius: 15%;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 5% 7%;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: #50fa7b;
  font-size: 0.85em;
}

/* Conteúdo Principal */

/* Seção "Quem Sou Eu?" */
#quemSouEu {
  background-image: url(./imagens/WPP-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 26%;
  padding-bottom: 10%;
}

#apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 28%;
  padding-top: 8%;
}

#apresentacao img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-bottom: 1%;
}

#apresentacao img:hover {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  margin-bottom: 1%;
}

#apresentacao h2 {
  color: #ec6948;
  width: 160%;
  text-align: center;
  font-size: 1em;
  font-weight: 1000;
  margin-top: 10%;
}

#apresentacao p {
  background-color: #e17b62;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: rgb(255, 255, 255);
  width: 160%;
  text-align: center;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0.5%;
  padding: 8%;
}

#apresentacao :nth-child(4) {
  display: none;
}

/* Seção "Formação Acadêmica" */
#formacaoAcademica {
  background-image: linear-gradient(rgb(54,56,70), rgb(71, 50, 71));
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formacaoAcademica h2 {
  color: #ec6948;
  width: fit-content;
  text-align: center;
  font-size: 1em;
  font-weight: 1000;
}

#faContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 4%;
}

#admPuc {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 80%;
  text-align: center;
  margin-bottom: 6%;
  padding: 3%;
}

#trybe {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-align: center;
  width: 80%;
  padding: 3%;
}

#faContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 6%;
}

#intercambio {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 80%;
  text-align: center;
  margin-bottom: 6%;
  padding: 3%;
}

#teresiano {
  border: solid 3px #50fa7b;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 80%;
  text-align: center;
  margin-bottom: 4%;
  padding: 3%;
}

/* Classes compartilhadas pelos elementos da seção Formação Acadêmica. */
.titulosFormacaoAcademica {
  color: ghostwhite;
  font-size: 0.8em;
  margin-bottom: 3%;
}

.instituicao {
  color: #50fa7b;
  font-size: 1em;
}

.conteudoFormacaoAcademica {
  font-size: 0.85em;
  font-weight: 550;
}

.falinks {
  color: #50fa7b;
  font-size: 1em;
  text-decoration: overline;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.falinks:hover {
  color: #50fa7b;
  font-size: 1em;
  text-decoration: overline;
}

/* Seção "Experiências Profissionais" */
#xpProfissional {
  background-image: url(./imagens/office-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

#xpProfissional h2 {
  color: #455481;
  font-size: 1.1em;
  font-weight: 1000;
  text-align: center;
  width: fit-content;
}

#xpProfContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 80%;
}

#loreal {
  background-color: rgb(114, 91, 32);
  border: solid 3px rgb(194, 146, 25);
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
  text-align: center;
  margin-bottom: 8%;
  padding: 5%;
  padding-top: 1%;
}

#loreal h3 {
  font-size: 0.95em;
  color: ghostwhite;
  margin-bottom: 1%;
}

#containerImgLoreal {
  display: block;
  margin-top: 8%;
  margin-bottom: 4%;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#loreal img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 50%;
  padding: 4%;
}

#loreal img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 50%;
  padding: 4%;
}

#vinci {
  background-color: #056385;
  border: solid 3px #00b0f2;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
  border-radius: 25px;
  width: 95%;
  text-align: center;
  margin-bottom: 8%;
  padding-left: 5%;
}

#vinci h3 {
  font-size: 1.1em;
  color: ghostwhite;
  margin-top: 7%;
  margin-bottom: 1%;
}

#containerImgVinci {
  display: block;
  margin: 5% 0;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#vinci img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 55%;
  margin-top: 4%;
  padding: 3%;
}

#vinci img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 55%;
  margin-top: 4%;
  padding: 3%;
}

#certificadoVinci {
  color: #50fa7b;
  font-size: 1em;
  text-decoration: overline;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#certificadoVinci:hover {
  color: #50fa7b;
  font-size: 1em;
  text-decoration: overline;
}

/* Classes compartilhadas pelos elementos da seção Experiência Profissional. */
.conteudoXpProfissional {
  font-size: 0.9em;
  line-height: 1.5em;
}

/* Seção "Ferramentas e Idiomas" */
#ferramentasEIdiomas {
  background-image: linear-gradient(rgb(54,56,70), rgb(71, 50, 71));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
  padding-bottom: 8%;
}

#ferramentasEIdiomas h2 {
  color: #ec6948;
  width: fit-content;
  text-align: center;
  font-size: 1.1em;
  margin-top: 0%;
}

#ferrEIdiContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#pacoteOffice {
  border: #747788 3px solid;
  border-radius: 40px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-bottom: 5%;
}

#pacoteOffice h3 {
  color: ghostwhite;
  width: fit-content;
  font-size: 1em;
  text-align: center;
  margin-top: 5%;
}

#pacoteOffice ul {
  text-align: center;
  list-style: square;
  list-style-position: inside;
  width: fit-content;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 5%;
  padding-left: 0%;
}

.certificadosHashtag {
  color: #50fa7b;
  text-decoration: none;
  font-size: 0.8em;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.certificadosHashtag:hover {
  color: #50fa7b;
  font-size: 0.8em;
}

#idiomas {
  border: #747788 3px solid;
  border-radius: 40px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 3%;
}

#idiomas h3 {
  color: ghostwhite;
  font-size: 1em;
  width: fit-content;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#containerImgIelts {
  display: block;
  margin-top: 10%;
  margin-bottom: 12%;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#logoIelts a img {
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 80%;
}

#logoIelts a img:hover {
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 80%;
}

#idiomas span {
  color: wheat;
  font-size: 0.95em;
  line-height: 1.1em;
}

#certificadoIelts {
  text-decoration: overline;
  color: #50fa7b;
  font-size: 0.95em;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

#certificadoIelts:hover {
  color: #50fa7b;
  font-size: 0.95em;
}

/* Seção "Atividades Extracurriculares" */
#ativExtraCv {
  background-image: url(./imagens/hackathon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: -570px;
  background-position-y: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 6% 0;
}

#ativExtraCv h2 {
  background-color: rgba(71, 50, 71, 0.796);
  border: ghostwhite 2px solid;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
  color: #ec6948;
  width: fit-content;
  text-align: center;
  font-size: 1.1em;
  margin-top: -1%;
  padding: 2%;
}

#ativExtContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
}

#monitorias {
  background-color: rgba(71, 50, 71, 0.796);
  border: ghostwhite 2px solid;
  border-radius: 35px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 85%;
  margin-bottom: 8%;
  padding: 2% 8% 0 1%;
}

#monitorias h3 {
  color: #ec6948;
  font-size: 1.1em;
  width: fit-content;
  text-align: center;
  margin: 5% 5% 0 15%;
  padding-right: 4%;
}

#monitorias h3 span {
  font-size: 0.95em;
}

#monitorias ul {
  list-style: none;
  width: 80%;
  font-size: 1em;
  line-height: 1.5em;
  color: ghostwhite;
  font-weight: 600;
}

.certificadosMonitoria {
  text-decoration: none;
  color: #50fa7b;
  font-size: 1em;
  font-weight: 500;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.certificadosMonitoria:hover {
  text-decoration: none;
  color: #50fa7b;
  font-size: 1em;
  font-weight: 500;
}

#infoAdd {
  background-color: rgba(71, 50, 71, 0.796);
  border: ghostwhite 2px solid;
  border-radius: 35px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.5);
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding: 2%;
}

#tituloInfoAdd {
  border-radius: 12px;
  color: #ec6948;
  width: fit-content;
  text-align: center;
  font-size: 1em;
  margin-top: 5%;
  margin-bottom: 1%;
}

#hackathon {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding-bottom: 1%;
}

#bolsa {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding-bottom: 1%;
}

.certificadosInfoAdd {
  text-decoration: none;
  color: #50fa7b;
  font-size: 1em;
  font-weight: 500;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.certificadosInfoAdd:hover {
  text-decoration: none;
  color: #50fa7b;
  font-size: 1em;
  font-weight: 500;
}

/* Classes compartilhadas pelos elementos da seção "Atividades Extracurriculares". */
.titulosAtivExt {
  color: ghostwhite;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 3%;
}

/* Seção "Rodapé" */
footer {
  background-color: #282a36;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

footer span {
  font-size: 0.8em;
  text-align: center;
  color: ghostwhite;
}

footer span a {
  color: #50fa7b;
  text-decoration: none;
}

footer span a:hover {
  color: #ec6948;
  font-size: 0.8em;
}
