/*Estilização geral:*/
body{
    background-color:#282a36;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: wheat;
}

/*Estilização do cabeçalho:*/
#nome{
    color: #50fa7b;
    text-align: center;
    line-height: 10px;
}

#infoCabecalho{
    text-align: center;
    font-weight: bold;
}

.contato{
    color: wheat;
}

#fotoDeveloper{
    text-align: center;
}

/*Estilização do índice:*/
.indice{
    margin-left: 355px;
    color: #ff79c6;
}

#item1{
    color: #8be9fd;
}
#item2{
    color: #8be9fd;
}
#item3{
    color: #8be9fd;
}
#item4{
    color: #8be9fd;
}
#item5{
    color: #8be9fd;
}
#item6{
    color: #8be9fd;
}

/*Seção de Formação Acadêmica:*/

/*Administração de Empresas:*/
#conteudoAdm{
    color: #50fa7b;
    text-align: center;
}

/*Curso Trybe:*/
#conteudoTrybe{
    color: #50fa7b;
    text-align: center;
}

/*Intercâmbio:*/
#conteudoIntercambio{
    color: #50fa7b;
    text-align: center;
}

/*Escola:*/
#conteudoEscola{
    color: #50fa7b;
    text-align: center;
}

/*Seção de Experiência Profissional:*/

/*Estágio L'Oréal:*/
#conteudoEstagio{
    color: #50fa7b;
    text-align: center;
}

/*Work Experience Vinci:*/
#conteudoVinci{
    color: #50fa7b;
    text-align: center;
}

/*Seção de Cursos:*/
.cursos{
    color: #50fa7b;
    text-align: center;
}



/*Classes para todo o documento:*/

/*1- Títulos das Seções:*/
.tituloDasSecoes{
    color: #50fa7b;
    text-align: center;
    line-height: 50px;
    text-decoration: underline;
}

/*2- Classe para pipes:*/
.pipe{
    color: #ff79c6;
}

/*3- Classe para datas:*/
.datas{
    color:#bd93f9;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

/*4- Classe para instituições:*/
.instituicoes{
    color: #bd93f9;
    font-weight: bold;
}

/*5- Classe para informações adicionais:*/
.infoAdicionalConteudo{
    color: #ffb86c;
}

/*6- Títulos das Seções Menores:*/
.tituloDasSecoesMenores{
    color: #50fa7b;
    text-align: center;
    line-height: 50px;
    text-decoration: underline;
}