/*Rolagem Suave para Links Internos:*/
html {
  scroll-behavior: smooth;
}

/*Estilização geral:*/
body {
  background-color: #282a36;
  font-family: Source Sans Pro, sans-serif;
  font-size: 25px;
  color: wheat;
}

/*Cabeçalho*/
#mainHeader {
  position: fixed;
  width: 100%;
  background-color: #282a36;
  box-shadow: 0 0 1em wheat;
  top: 0;
  left: 0;
}

#mainHeader h1 {
  display: inline-block;
  font-size: 2em;
  text-align: center;
  width: 50%;
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 10%;
}

#socialMediaIcons {
  display: inline-block;
  width: 8%;
  text-align: center;
  padding-top: 0.8%;
  padding-bottom: 0.5%;
}

#linkedinIconContainer {
  display: inline-block;
  width: 20%;
  margin-right: 7.5%;
}

#linkedinIconContainer img {
  width: 100%;
}

#linkedinIconContainer img:hover {
  width: 90%;
}

#githubIconContainer {
  display: inline-block;
  width: 20%;
  margin-left: 7.5%;
}

#githubIconContainer img {
  width: 100%;
}

#githubIconContainer img:hover {
  width: 90%;
}

#mainHeader nav {
  margin-top: -0.5%;
}

#mainHeader nav ul {
  display: flex;
  justify-content: center;
  padding-left: 0%;
  padding-right: 0%;
  list-style: none;
}

#mainHeader nav ul li {
  text-align: center;
  display: inline-block;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

#mainHeader nav ul li a {
  font-size: 1em;
  border-radius: 5%;
  font-weight: 900;
  color: ghostwhite;
  text-decoration: none;
}

#mainHeader nav ul li a:hover {
  color: #ec6948;
  font-size: 1.1em;
}

/*Conteúdo Principal*/
#conteudoPrincipal {
  text-align: center;
}

/*Seção "Quem Sou Eu?"*/
#quemSouEu {
  background-color: #44475a;
  padding-bottom: 3%;
}

#quemSouEu img {
  width: 30%;
  border-radius: 50%;
  margin-top: 11%;
  margin-bottom: 1%;
}

#quemSouEu img:hover {
  width: 32%;
  transition-delay: 0.35s;
}

#apresentacao {
  margin-left: 25%;
  margin-right: 25%;
}

#apresentacao h2 {
  font-size: 2.5em;
  color: #ec6948;
  font-weight: 1000;
  margin-top: 0%;
}

#apresentacao p {
  font-size: 1.5em;
  text-align: justify;
  color: ghostwhite;
}

/*Seção "Formação Acadêmica"*/
#formacaoAcademica {
  background-color: rgb(71, 50, 71);
  margin-top: 0%;
}

#formacaoAcademica h2 {
  font-size: 2.5em;
  color: #ec6948;
  font-weight: 1000;
  margin-top: 0%;
  padding-top: 2%;
}

#admPuc {
  border: solid 3px #50fa7b;
  border-radius: 15%;
  display: inline-block;
  width: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#admPuc nav a {
  font-size: 1.3em;
  color: #50fa7b;
  text-decoration: none;
}

#admPuc nav a:hover {
  font-size: 1.2em;
  color: #ec6948;
}

#trybe {
  border: solid 3px #50fa7b;
  border-radius: 15%;
  display: inline-block;
  width: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#trybe nav a {
  font-size: 1.3em;
  color: #50fa7b;
  text-decoration: none;
}

#trybe nav a:hover {
  font-size: 1.2em;
  color: #ec6948;
}

#intercambio{
  border: solid 3px #50fa7b;
  border-radius: 15%;
  display: inline-block;
  width: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#intercambio nav a {
  font-size: 1.3em;
  color: #50fa7b;
  text-decoration: none;
}

#intercambio nav a:hover {
  font-size: 1.2em;
  color: #ec6948;
  text-decoration: none;
}

#teresiano {
  border: solid 3px #50fa7b;
  border-radius: 15%;
  display: inline-block;
  width: 40%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#teresiano nav a {
  font-size: 1.3em;
  color: #50fa7b;
  text-decoration: none;
}

#teresiano nav a:hover {
  font-size: 1.2em;
  color: #ec6948;
}

/*Classes compartilhadas pelos elementos da seção Formação Acadêmica.*/
.titulosFormacaoAcademica {
  color: ghostwhite;
  font-size: 1.3em;
  margin-bottom: 1%;
}

.pipe {
  color: #ff5555;
}

.instituicao {
  color: #50fa7b;
}

.conteudoFormacaoAcademica {
  font-size: 1.3em;
  font-weight: 550;
}

/* Seção "Experiências Profissionais"*/
#xpProfissional {
  background-color: #44475a;
  padding-top: 2%;
  padding-bottom: 2%;
}

#xpProfissional h2 {
  font-size: 2.5em;
  color: #ec6948;
  font-weight: 1000;
  margin-top: 0%;
}

#loreal {
  border: solid 3px rgb(194, 146, 25);
  border-radius: 15%;
  display: inline-block;
  width: 40%;
  margin-right: 2.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

#loreal h3 {
  margin-top: 0%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 2%;
  width: 75%;
}

#containerImgLoreal {
  display: block;
  margin-top: 4%;
  margin-bottom: 4%;
}

#loreal img {
  width: 45%;
}

#loreal img:hover {
  width: 48%;
  }

#vinci {
  border: solid 3px #00b0f2;
  border-radius: 15%;
  display: inline-block;
  width: 40%;
  margin-left: 2.5%;
  padding-top: 1.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 1.5%;
}

#vinci h3 {
  margin-top: 0%;
  margin-left: 23.5%;
  margin-right: 25%;
  margin-bottom: 2%;
  width: 50%;
}

#containerImgVinci {
  display: block;
  margin-top: 4%;
  margin-bottom: 4%;
  }

#vinci img {
  width: 40%;
}

#vinci img:hover {
  width: 43%;
}

#certificadoVinci {
  font-size: 1.3em;
  color: #50fa7b;
  text-decoration: none;
}

#certificadoVinci:hover {
  font-size: 1.2em;
  color: #ec6948;
}

/*Classes compartilhadas pelos elementos da seção Experiência Profissional.*/
.titulosXpProfissional {
  color: ghostwhite;
  font-size: 1.7em;
  margin-bottom: 1%;
}

.conteudoXpProfissional {
  display: block;
  font-size: 1.3em;
  line-height: 1.4em;
}

/*Seção "Ferramentas e Idiomas"*/
#ferramentasEIdiomas {
  background-color: rgb(71, 50, 71);
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#ferramentasEIdiomas h2 {
  font-size: 2.5em;
  color: #ec6948;
  font-weight: 1000;
  margin-top: 0%;
}

#pacoteOffice {
  border: #ec6948 3px solid;
  display: inline-block;
  text-align: center;
}

#pacoteOffice h3 {
  border: #50fa7b 3px solid;
  font-size: 1.5em;
  color: ghostwhite;
  margin-top: 3%;
  margin-bottom: 3%;
}

#softwareWeb {
}

#idiomas {
}

/*Seção "Rodapé"*/
footer {
  background-color: #282a36;
  padding-bottom: 5%;
  padding-top: 5%;
}

footer span {
  display: block;
  font-size: 1em;
  text-align: center;
  color: ghostwhite;
}

footer span a {
  color: #50fa7b;
  text-decoration: none;
}

#heart {
  color: #ff5555;
}

footer span a:hover {
  color: #ec6948;
  font-size: 0.95em;
}




/*Estilização do cabeçalho:
#nome{
    color: #50fa7b;
    text-decoration: underline;
    text-align: center;
    line-height: 10px;
}

#infoCabecalho{
    text-align: center;
    font-weight: bold;
}

.contato{
    color: wheat;
}

.contato:hover{
    color: #ff5555;
    font-size: 16px;
}

#fotoDeveloper{
    text-align: center;
    border-radius: 10px;
}
*/

/*Estilização do índice:
#posicaoIndice{
    width: 220px;
    margin:auto;
    color: #ff5555;
}

.itensIndice{
    color: #8be9fd;
}

.itensIndice:hover{
    color:#ff5555;
    font-size: 16px;
}
*/

/*Seção de Formação Acadêmica:*/

/*Administração de Empresas:
#conteudoAdm{
    color: #50fa7b;
    text-align: center;
}
*/

/*Curso Trybe:
#conteudoTrybe{
    color: #50fa7b;
    text-align: center;
}
*/

/*Intercâmbio:
#conteudoIntercambio{
    color: #50fa7b;
    text-align: center;
}
*/

/*Escola:
#conteudoEscola{
    color: #50fa7b;
    text-align: center;
}
*/

/*Seção de Experiência Profissional:*/

/*Estágio L'Oréal:
#conteudoEstagio{
    color: #50fa7b;
    text-align: center;
}
*/

/*Work Experience Vinci:
#conteudoVinci{
    color: #50fa7b;
    text-align: center;
}
*/

/*Seção de Cursos:
.cursos{
    color: #adf0be;
    text-align: center;
}
*/

/*Seção de Ferramentas e Idiomas:
.conteudoferrEIdiomas{
    color: #adf0be;
    text-align: center;
}

#levelIelts{
    color:#ffb86c
}
*/

/*Seção de Atividades Extracurriculares:
#conteudoAtivExtracurricular{
    color: #adf0be;
    text-align: center;
}
*/

/*Seção de Informações Adicionais:
#bolsaPremio{
    color:#adf0be;
    text-align: center;
}
*/

/*Botão de Linkedin:
#posicaoBotaoLkdin{
    text-align:center;
}

#corBotaoLkdin{
    color: #1293d2;
    font-size: 20px;
}

#corBotaoLkdin:hover{
    color:#8be9fd;
    font-size: 25px;
}
*/

/*Botão de Volta ao Início:
#posicaoBotaoInicio{
    text-align:center;
}

#corBotaoInicio{
    color: #ff5555;
    font-size: 17px;
}

#corBotaoInicio:hover{
    color:#50fa7b;
    font-size: 20px;
}
*/

/*Classes para todo o documento:*/

/*1- Títulos das Seções:
.tituloDasSecoes{
    color: #50fa7b;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    text-decoration: underline;
}
*/

/*2- Classe para pipes:
.pipe{
    color: #ff79c6;
}
*/

/*3- Classe para datas:
.datas{
    color:#bd93f9;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
*/

/*4- Classe para instituições:
.instituicoes{
    color: #bd93f9;
    font-weight: bold;
}
*/

/*5- Classe para informações adicionais:
.infoAdicionalConteudo{
    color: #ffb86c;
}
*/

/*6- Títulos das Seções Menores:
.tituloDasSecoesMenores{
    color: #adf0be;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    text-decoration: underline;
}
*/

/*7- Datas das Seções Menores:
.datasDasSecoesMenores{
    color: #bd93f9;
}
*/