* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #272626;
  color: ghostwhite;
}

header {
  border: solid red 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  padding: 20px 60px;
}

header .logo-title {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}

.steps .step {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps .step h2 {
margin-bottom: 30px;
}

.genres-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.genres-cards .genre {
  background-color: rgb(66, 56, 56);
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

.genres-cards .genre:hover {
  background-color: rgb(37, 26, 26);
}

.genres-cards .genre img {
  background-color: rgb(66, 56, 56);
}

.text-card {
  background-color: red;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.playlist-cards, .track-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


