body {
  background-color: #6272a4;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

header {
  box-shadow: 0 15px 15px 0 #46506a;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282a36;
  margin-top: 0%;
  padding-bottom: 2%;
}

header h1 {
  color: #61f586;
  font-size: 1.6em;
  width: fit-content;
  text-align: center;
  margin-bottom: 1%;
}

header ul {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-content: space-around;
}

header ul li {
  font-size: 1.2em;
  font-weight: 200;
  list-style: none;
  width: fit-content;
  margin-bottom: 5%;
}

header div {
  color: #ff79c6;
  width: fit-content ;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.5%;
}

#color1 {
  background-color: black;
  color: ghostwhite;
}

#color2 {
  background-color: yellow;
  color: #282a36;
}

#color3 {
  background-color: cyan;
  color: #282a36;
}

#color4 {
  background-color: orangered;
  color: ghostwhite;
}

#color5 {
  background-color: darkviolet;
  color: black;
}

#color6 {
  background-color: coral;
  color: black;
}

#color7 {
  background-color: dodgerblue;
  color: black;
}

#color8 {
  background-color: deeppink;
  color: ghostwhite;
}

#color9 {
  background-color: darkslategray;
  color: ghostwhite;
}

#color10 {
  background-color: lightsalmon;
  color: black;
}

#color11 {
  background-color: tan;
  color: black;
}

#color12 {
  background-color: darkgoldenrod;
  color: black;
}

.color:hover {
  font-weight: 300;
}

#btnsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8%;
}

#changePalette {
  border-radius: 15%;
  cursor: pointer;
  background-color: #ff5555;
  color: aquamarine;
  width: fit-content;
  font-size: 1.5em;
  margin-right: 2%;
}

#clear-board {
  border-radius: 15%;
  cursor: pointer;
  background-color: wheat;
  color: cornflowerblue;
  width: fit-content;
  font-size: 1.5em;
  margin-left: 2%;
}

main {
  margin: 8% 0;
}

#pixel-board {
  border: #50fa7b solid 5px;
  border-radius: 25%;
  box-shadow: 0 15px 15px 0 #46506a;
  background-color: #282a36;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2.5%;
  padding: 2.5% 0;
}

.pixel {
  border: #282a36 solid 1px;
  background-color: white;
  width: 7%;
  padding-bottom: 10%;
}

#primeiroDaLinha {
  margin-left: 20%;
}

#ultimoDaLinha {
  margin-right: 20%;
}

footer {
  background-color: #282a36;
  display: flex;
  justify-content: center;
}

footer span {
  font-size: 1em;
  text-align: center;
  color: ghostwhite;
}

footer span a {
  color: #50fa7b;
  text-decoration: none;
}
