body {
  background-color: #6272a4;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

header {
  box-shadow: 0 15px 15px 0 #46506a;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282a36;
  margin-top: 0%;
  padding-bottom: 2%;
}

header h1 {
  color: #61f586;
  width: fit-content;
  text-align: center;
}

header ul {
  display: flex;
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0%;
}

header ul li {
  font-size: 1.4em;
  font-weight: 400;
  list-style: none;
  width: fit-content;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

header div {
  color: #ff79c6;
  width: fit-content;
  text-align: center;
  font-size: 1.4em;
  margin-top: 1.5%;
}

#color1 {
  background-color: black;
  color: ghostwhite;
  flex-grow: 0.05;
}

#color2 {
  background-color: yellow;
  color: #282a36;
  flex-grow: 0.05;
}

#color3 {
  background-color: cyan;
  color: #282a36;
  flex-grow: 0.05;
}

#color4 {
  background-color: orangered;
  color: ghostwhite;
  flex-grow: 0.05;
}

#color5 {
  background-color: darkviolet;
  color: black;
  flex-grow: 0.05;
}

#color6 {
  background-color: coral;
  color: black;
  flex-grow: 0.05;
}

#color7 {
  background-color: dodgerblue;
  color: black;
  flex-grow: 0.05;
}

#color8 {
  background-color: deeppink;
  color: ghostwhite;
  flex-grow: 0.05;
}

#color9 {
  background-color: darkslategray;
  color: ghostwhite;
  flex-grow: 0.05;
}

#color10 {
  background-color: lightsalmon;
  color: black;
  flex-grow: 0.05;
}

#color11 {
  background-color: tan;
  color: black;
  flex-grow: 0.05;
}

#color12 {
  background-color: darkgoldenrod;
  color: black;
  flex-grow: 0.05;
}

.color:hover {
  font-weight: 600;
}

#btnsSection {
  margin-top: 3.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#changePalette {
  border-radius: 15%;
  cursor: pointer;
  background-color: #ff5555;
  color: aquamarine;
  width: fit-content;
  font-size: 2em;
  margin-right: 2%;
}

#clear-board {
  border-radius: 15%;
  cursor: pointer;
  background-color: wheat;
  color: cornflowerblue;
  width: fit-content;
  font-size: 2em;
  margin-left: 2%;
}

main {
  margin-top: 3%;
}

#pixel-board {
  border: #50fa7b solid 5px;
  border-radius: 25%;
  box-shadow: 0 15px 15px 0 #46506a;
  background-color: #282a36;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2.5%;
  padding: 2.5% 0;
}

.pixel {
  border: #282a36 solid 1px;
  background-color: white;
  width: 8%;
  padding-bottom: 8%;
}

#primeiroDaLinha {
  margin-left: 20%;
}

#ultimoDaLinha {
  margin-right: 20%;
}

footer {
  background-color: #282a36;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

footer span {
  font-size: 1em;
  text-align: center;
  color: ghostwhite;
}

footer span a {
  color: #50fa7b;
  text-decoration: none;
}

footer span a:hover {
  color: #ec6948;
  font-size: 0.95em;
}
